{% extends  'registration/base_accounts.html' %}
{% load crispy_forms_filters %}
{% block title %}
    Редактировать альбом
{% endblock %}
{% block main %}
    {% if not user.is_authenticated %}
        <p> Для редактирования альбомов нужно авторизоваться</p>
        <a href="/login">Войти</a>.<br/><br/>
    {% else %}
    <div class="card">
    <div class="card-body">
    <h4 class="card-title">Редактировать альбом</h4>
        <form enctype="multipart/form-data" method="post">
            {% csrf_token %}
            {{ form|crispy }}
            <a class="related-widget-wrapper-link add-related" href="/create_image" title="Add another Изображение"><img src="/static/admin/img/icon-addlink.svg" alt="Add"></a>
            <button type="submit" class="btn btn-primary btn-block">Редактировать</button>
        </form>
    </div>
    </div>
    {% endif %}
{% endblock %}